# Localización
d-i debian-installer/locale string es_ES.UTF-8
d-i keyboard-configuration/xkb-keymap select es

# Red
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string local

# Zona horaria
d-i time/zone string Europe/Madrid
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true

# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Particionado automático
d-i partman-auto/method string regular
d-i partman-auto/disk string /dev/sda
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Usuario
d-i passwd/root-login boolean false
d-i passwd/user-fullname string Alumne
d-i passwd/username string alumne
d-i passwd/user-password-crypted password $6$alumne$Q0xkK7q9g7Z3Yx1Xx0uUe0Q9P0vX9u3n2fP9F1sZC9B3LZpPqX7w1

# Paquetes
tasksel tasksel/first multiselect standard
d-i pkgsel/include string sudo
d-i pkgsel/upgrade select none

# GRUB
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string default

# Finalizar
d-i finish-install/reboot_in_progress note
